NODE_ENV="development"
SITE_URL="http://localhost:5000"

PORT="5000"
API_VERSION="1"
SECRET="ami valo chele na mere haar venge dibo"
# MONGODB_CONNECTION_STRING="mongodb://localhost:27017/insta-extension"
MONGODB_CONNECTION_STRING=""
SMTP_SECURE=
SMTP_HOST=""
SMTP_PORT=""
SMTP_FROM_ADDRESS=""
SMTP_AUTH_USER=""
SMTP_AUTH_PASSWORD=""
